{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": false,
      "dynamicImport": false
    },
    "transform": null,
    "target": "es2018",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": true
  },
  "module": {
    "type": "commonjs"
  },
  "minify": true,
  "sourceMaps": false
}
